/* .navbar-default {
  background-color: #0b4d78;
  border-color: #0b4d78;
} */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 6rem;
}

/* List books page */
.book-container-bg {
	background: #fff;
	padding: 10px;
	margin: 10px
}
